# Email Verification

Source: https://marketplace.gohighlevel.com/docs/ghl/email-isv/email-verification

Screenshot: C:\Users\carlo\OneDrive\Desktop\Proyectos\ghl-api-docs\images\ghl_email-isv_email-verification_screenshot.png

---

LC EmailEmail Verification
Email Verification
Documentation for Email ISV API
📄️ Email Verification
Verify Email